---
jenkins:
  systemMessage: "Configure automatically via JCasC"
  globalNodeProperties:
    - envVars:
        env:
          - key: "NEXUS_REGISTRY"
            value: "http://{{ groups['shared_services'][0] }}:8082"
          - key: "SONAR_HOST"
            value: "http://{{ groups['shared_services'][0] }}:9000"
          - key: "APP_TARGET_IP"
            value: "{{ groups['production_app'][0] }}"

credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              id: "sonar-token"
              secret: "{{ vault_sonar_token }}"
          - usernamePassword:
              id: "nexus-credentials"
              username: "{{ vault_nexus_username }}"
              password: "{{ vault_nexus_password }}"
          - string:
              id: "slack-token"
              secret: "{{ vault_slack_token }}"
          - basicSSHUserPrivateKey:
              id: "azure-ssh-key"
              username: "{{ hostvars[groups['production_app'][0]]['ansible_user'] }}"
              privateKeySource:
                directEntry:
                  privateKey: "{{ vault_azure_ssh_key }}"

jobs:
  - script: |
      multibranchPipelineJob('spring-petclinic-multibranch') {
          branchSources {
              git {
                  id('petclinic-repo')
                  remote('https://github.com/hnthap/spring-petclinic')
              }
          }
          factory {
              workflowBranchProjectFactory {
                  scriptPath('Jenkinsfile')
              }
          }
      }

unclassified:
  globalLibraries:
    libraries:
      - name: "my-shared-library"
        defaultVersion: "main"
        implicit: false
        allowVersionOverride: true
        retriever:
          modernSCM:
            scm:
              git:
                remote: "https://github.com/hnthap/spring-petclinic-shared-library"
                traits:
                  - gitBranchDiscovery
  
  slackNotifier:
    teamDomain: "alice-labs-group"
    tokenCredentialId: "slack-token"
